.wrapper {
  border: 1px solid #eee;
  padding-left: 4px;
  border-radius: 8px;
}
input {
  border: none;
  outline: none;
  margin: 12px 8px;
  background: #eee;
  border-radius: 8px;
  font-size: 1em;
  line-height: 1.5em;
  padding: 4px 12px;
  background: rgb(226, 236, 226);
}
