.toggle {
    width: 50px;
  	height: 40px;
	display: block;
}

.toggle:hover{
    cursor: pointer;
}
.burger-wrapper {
	cursor: pointer;
  	margin: auto;
  	width: 50px;
  	height: 40px;
	display: block;
}

.burger-wrapper .hamburger{  
    background: rgb(65, 60, 60); 
    background: var(--bg-color);
    width: 50px;
    height: 5px;
    position: relative;
    transition: background 10ms 480ms ease;
    transform: translateY(20px);
}

.burger-wrapper .hamburger::before,
.burger-wrapper .hamburger::after{
	transition: top 480ms 350ms ease,
        transform 480ms 50ms ease;
      position: absolute;
      background: rgb(65, 60, 60);
      background: var(--bg-color);
      width: 50px;
      height: 5px;
      content: '';
}

.burger-wrapper .hamburger::before{
	top: -15px;
}
.burger-wrapper .hamburger::after{
	top: 15px;
}

.menu-trigger {
    display: none;
}

.menu-trigger:checked + .burger-wrapper .hamburger{
	background: transparent;
}
.menu-trigger:checked + .burger-wrapper .hamburger::before, 
.menu-trigger:checked + .burger-wrapper .hamburger::after{
	transition: top 480ms 50ms ease,
        transform 480ms 350ms ease;
        top: 0;
}

.menu-trigger:checked + .burger-wrapper .hamburger::before{
	transform: rotate(45deg);
}
.menu-trigger:checked + .burger-wrapper .hamburger::after{
	transform: rotate(-45deg);
}