

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}

#app {
  min-width: 100%;
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  min-height: 100%;
  /* overflow: hidden; */
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app {
  min-width: 840px;
}

.system-info {
  background: var(--color-tianshui-green);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 4px 8px;
  color: var(--color-white-tea);
}

.sparkle-info {
  background: var(--color-bamboo-green);
  border-radius: 2px;
  padding: 4px 8px;
  color: var(--color-indigo-blue);
}

.sparkle-info-common {
  color: var(--color-tong-red);
}

.sparkle-info-one {
  color: var(--color-madder-red);
}

.sparkle-info-two {
  color: var(--color-fiefy-red);
}

.app-input {
  background: var(--color-apricot-yellow);
  border-radius: 2px;
  padding: 4px 8px;
  /* color: var(--color-white-plain-reverse); */
}

.app-hello {
  background: var(--color-duck-yellow);
  border-radius: 2px;
  padding: 4px 8px;
  color: var(--color-crimson-purple);
}

.app-boop {
  background: var(--color-primrose);
  border-radius: 2px;
  padding: 4px 8px;
  color: var(--color-crimson-red);
}

.app-boop-common-color {
  color: var(--color-rouge);
}

.app-boop-spring-color {
  color: var(--color-vermilion);
}

.app-boop-new-color {
  color: var(--color-cinnabar);
}

.app-style {
  background: var(--color-light-green);
  border-radius: 2px;
  padding: 4px 8px;
  color: var(--color-white-plain-reverse);
}

.app-tasklist{
  background: var(--color-willow-yellow);
  border-radius: 2px;
  padding: 4px 8px;
  color: var(--color-white-plain-reverse);
}

.app-foldable {
  background: var(--color-willow-green);
  border-radius: 2px;
  padding: 4px 8px;
  color: var(--color-white-plain-reverse);
}

.app-article {
  background: var(--color-bamboo-green);
  border-radius: 2px;
  padding: 4px 8px;
  color: var(--color-white-plain);
}

