:root {
  --color-moon-white: rgba(214,236,240,1);
  --color-white-tea: rgba(243,249,241,1);
  --color-white-gao: rgba(242,236,222,1);
  --color-white-plain: rgba(224,240,233,1);

  /* 红色系 */
  --color-xiangfei: rgba(255, 179, 167,1);
  --color-pink: rgba(237, 87, 54,1);
  --color-magenta: rgba(240, 0, 86,1);
  --color-peach:  rgba(244, 121, 131,1);
  --color-begonia: rgba(219, 90, 107,1);
  --color-pomegranate: rgba(242, 12, 0,1);
  --color-cherry: rgba(201, 55, 86,1);
  --color-silver-red: rgba(240, 86, 84,1);
  --color-crimson : rgba(255, 33, 33,1);
  --color-crimson-purple : rgb(140, 67, 86,1);
  --color-crimson-red : rgba(200, 60, 35,1);
  --color-rouge: rgba(157, 41, 51,1);
  --color-vermilion: rgba(255, 76, 0,1);
  --color-cinnabar: rgba(255, 78, 32,1);
  --color-tong-red: rgba(243, 83, 54,1);
  --color-madder-red: rgba(203, 58, 86,1);
  --color-fiefy-red: rgba(255, 45, 81,1);
  --color-hechi-red: rgba(201, 31, 55,1);
  --color-bright-red: rgba(239, 122, 130,1);
  --color-magenta-red: rgba(255, 0, 151,1);
  --color-flame-red: rgba(255, 51, 0,1);
  --color-chi-red: rgba(195, 39, 43,1);
  --color-jiang-red: rgba(169, 129, 117,1);
  --color-zao-red: rgba(195, 33, 54,1);
  --color-sandalwood-red: rgba(179, 109, 97,1);
  --color-deep-red: rgba(190, 0, 47,1);
  --color-flushed-red: rgba(220, 48, 35,1);
  --color-blushing-red: rgba(249, 144, 111,1);

  /* 黄色系 */
  --color-light-yellow: rgba(255, 241, 67,1);
  --color-duck-yellow: rgba(250, 255, 114,1);
  --color-primrose: rgba(234, 255, 86,1);
  --color-apricot-yellow: rgba(255, 166, 49,1);
  --color-apricot-red: rgba(255, 140, 49,1);
  --color-orange: rgba(255, 137, 54,1);
  --color-orange-ad: rgba(255, 164, 0,1);
  --color-orange-red: rgba(255, 117, 0,1);
  --color-turmeric: rgba(255, 199, 115,1);
  --color-purple: rgba(240, 194, 57,1);
  --color-orange-between-yellow-and-red: rgba(250, 140, 53,1);
  --color-dark-brown: rgba(179, 92, 68,1);
  --color-camel: rgba(168, 132, 98,1);
  --color-dusky-yellow: rgba(200, 155, 64,1);
  --color-maroon: rgba(96, 40, 30,1);
  --color-brown: rgba(178, 93, 37,1);
  --color-brown-green: rgba(130, 113, 0,1);
  --color-brown-black: rgba(124, 75, 0,1);
  --color-brown-red: rgba(155, 68, 0,1);
  --color-brown-yellow: rgba(174, 112, 0,1);
  --color-ocher: rgba(156, 83, 51,1);
  --color-ocher-red : rgba(149, 85, 57,1);
  --color-amber: rgba(202, 105, 36,1);
  --color-brown: rgba(110, 81, 30,1);
  --color-withered: rgba(211, 177, 125,1);
  --color-cotinus-coggygria: rgba(226, 156, 69,1);
  --color-autumn-yellow: rgba(137, 108, 57,1);
  --color-autumn-fragrance: rgba(217, 182, 17,1);

  /* 绿色系 */
  --color-light-green: rgba(189, 221, 34,1);
  --color-willow-yellow: rgba(201, 221, 34,1);
  --color-willow-green: rgba(175, 221, 34,1);
  --color-bamboo-green: rgba(120, 146, 98,1);
  --color-onion-yellow: rgba(163, 217, 0,1);
  --color-onion-green: rgba(158, 217, 0,1);
  --color-tianshui-green: rgba(89,204,178,1);
  --color-onion-cyan: rgba(14, 184, 58,1);
  --color-turquoise: rgba(10, 163, 68,1);
  --color-oily-green: rgba(0, 188, 18,1);
  --color-dark-green: rgba(12, 137, 24,1);
  --color-jade-green: rgba(42, 221, 156,1);
  --color-jade: rgba(27, 209, 165,1);
  --color-cyan-green: rgba(72, 192, 163,1);
  --color-emerald: rgba(61, 225, 173,1);
  --color-grass-green: rgba(64, 222, 90,1);
  --color-cyan: rgba(0, 224, 158,1);
  --color-verdant: rgba(0, 224, 121,1); 
  --color-pale-cyan-white: rgba(192, 235, 215,1);
  --color-duck-egg-blue: rgba(224, 238, 232,1);
  --color-crab-shell-green: rgba(187, 205, 197,1);
  --color-crow-blue: rgba(66, 76, 80,1);
  --color-green: rgba(0, 229, 0,1);
  --color-bean-green: rgba(158, 208, 72,1);
  --color-bean-cyan: rgba(150, 206, 84,1);
  --color-azurite: rgba(123, 207, 166,1);
  --color-jade: rgba(46, 223, 163,1);
  --color-light-blue: rgba(127, 236, 173,1);
  --color-ai-green: rgba(164, 226, 198,1);
  --color-pine-cypress-green: rgba(33, 166, 117,1);
  --color-pine-green: rgba(5, 119, 72,1);
  --color-pine: rgba(188, 230, 114,1);

  

  /* 蓝色系 */
  --color-sky-blue: rgba(68, 206, 246,1);
  --color-indigo-cyan : rgba(23, 124, 176,1);
  --color-indigo-blue : rgba(6, 82, 121,1);
  --color-azure-blue: rgba(62, 237, 231,1);
  --color-azure-sky: rgba(112, 243, 255,1);
  --color-sapphire-blue: rgba(75, 92, 196,1);
  --color-gray-blue: rgba(161, 175, 201,1);
  --color-navy: rgba(46, 78, 126,1);
  --color-navy-blue: rgba(59, 46, 126,1);
  --color-dark-blue: rgba(74, 66, 102,1);
  --color-dailuo: rgba(74, 66, 102,1);
  --color-dark-green: rgba(66, 102, 102,1);
  --color-delan: rgba(66, 80, 102,1);
  --color-dark-purple: rgba(87, 66, 102,1);
  --color-purple: rgba(141, 75, 187,1);
  --color-purple-sauce: rgba(129, 84, 99,1);
  --color-purple-sauce-red: rgba(129, 84, 118,1);
  --color-rosewood: rgba(76, 34, 27,1);
  --color-dark-blue-primary: rgba(0, 51, 113,1);
  --color-purple-tang: rgba(86, 0, 79,1);
  --color-blue-purple: rgba(128, 29, 174,1);
  --color-ultramarine: rgba(76, 141, 174,1);
  --color-snow-cyan: rgba(176, 164, 227,1);
  --color-lilac-blue: rgba(204, 164, 227,1);
  --color-pale-pinkish-gray: rgba(237, 209, 216,1);
  --color-purple-red: rgba(228, 198, 208,1);

  /* 苍色系 */
  --color-pale: rgba(117, 135, 138,1);
  --color-pale-green: rgba(81, 154, 115,1);
  --color-pale-yellow: rgba(162, 155, 124,1);
  --color-pale-cyan: rgba(115, 151, 171,1);
  --color-pale-black: rgba(57, 82, 96,1);
  --color-pale-white: rgba(209, 217, 224);

  /* 水色系 */
  --color-water: rgba(136, 173, 166,1);
  --color-water-red: rgba(243, 211, 231,1);
  --color-water-green: rgba(212, 242, 231,1);
  --color-water-blue: rgba(210, 240, 244,1);
  --color-water-cyan: rgba(211, 224, 243,1);
  --color-lake-blue: rgba(48, 223, 243,1);
  --color-lake-green: rgba(37, 248, 203,1);

  /* 灰白色系 */
  --color-white: rgba(255, 255, 255,1);
  --color-ivory: rgba(255, 251, 240,1);
  --color-snow-white: rgba(240, 252, 255,1);
  --color-moon-white: rgba(214, 236, 240,1);
  --color-gao-white: rgba(242, 236, 222,1);
  --color-plain: rgba(224, 240, 233,1);
  --color-white-tea: rgba(243, 249, 241,1);
  --color-frost: rgba(233, 241, 246,1);
  --color-flower-white: rgba(194, 204, 208,1);
  --color-fish-belly-white: rgba(252, 239, 232,1);
  --color-ying-white: rgba(227, 249, 253,1);
  --color-bray: rgba(128, 128, 128,1);
  --color-tooth-color: rgba(238, 222, 176,1);
  --color-lead-white: rgba(240, 240, 244,1);

  /* 黑色系 */
  --color-xuan-black: rgba(98, 42, 29,1);
  --color-xuanqing: rgba(61, 59, 79,1);
  --color-wu-black: rgba(114, 94, 130,1);
  --color-jet-black: rgba(57, 47, 65,1);
  --color-dark-black: rgba(22, 24, 35,1);
  --color-ink-black: rgba(80, 97, 109,1);
  --color-ink-gray: rgba(117, 138, 153,1);
  --color-black: rgba(0, 0, 0,1);
  --color-silk-black: rgba(73, 49, 49,1);
  --color-coal-black: rgba(49, 37, 32,1);
  --color-yellow-black: rgba(93, 81, 60,1);
  --color-grass-black: rgba(117, 102, 77,1);
  --color-you: rgba(107, 104, 130,1);
  --color-you-black: rgba(102, 87, 87);
  --color-an-black: rgba(65, 85, 93,1);

  /* 金银色系 */
  --color-red-gold: rgba(242, 190, 69,1);
  --color-gold: rgba(234, 205, 118,1);
  --color-silver-white: rgba(233, 231, 239,1);
  --color-patina: rgba(84, 150, 136,1);
  --color-black-gold: rgba(167, 142, 68,1);
  --color-old-silver: rgba(186, 202, 198,1);


  /* 上面颜色的补色 */
  --color-moon-white-revert: rgba(41, 19, 15, 0.5);
  --color-white-tea-revert: rgba(12, 6, 14, 1);
  --color-white-gao-revert: rgba(13, 19, 33, 1);
  --color-white-plain-revert: rgba(31, 15, 22, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  /* background: #4290da; */
  overflow: hidden;
  height: 100%;
}

html,
body {
  margin: 0;  
  padding: 0;
  font-size: 100%;
  outline: none;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: 400;
  color: #333;
  font-size: 16px;
  /* 下面的颜色随便使用的，已经废弃 */
  /* background-color: #26c6da; */
  background-color: var(--color-white-plain);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
p,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  vertical-align: baseline;
  vertical-align: middle;
  line-height: normal;
  overflow: visible;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  appearance: button;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0oMImSLYBIv1o4X1M8cce4E9lKcw.ttf)
    format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cce9I94.ttf)
    format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8aBc5tU1Q.ttf)
    format('truetype');
}

.type-light {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.type-bold {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.type-italic {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: 400;
  padding: 0.75rem 0;
  line-height: 1.5rem !important;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333;
  outline: none;
} */

.checkbox {
  display: inline-block;
  height: 3rem;
  position: relative;
  vertical-align: middle;
  width: 44px;
}

.checkbox input[type='checkbox'] {
  font-size: 1em;
  visibility: hidden;
}

.checkbox input[type='checkbox'] + span:before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 0.85em;
  height: 0.85em;
  transform: translate3d(-50%, -50%, 0);
  background: transparent;
  box-shadow: #2cc5d2 0 0 0 1px inset;
  content: '';
  display: block;
}

.checkbox input[type='checkbox']:checked + span:before {
  font-size: 16px;
  line-height: 24px;
  box-shadow: none;
  color: #2cc5d2;
  margin-top: -1px;
  font-family: 'percolate';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  content: '\e65e';
}

.input-symbol {
  display: inline-block;
  position: relative;
}

.input-symbol.error [class^='icon-'],
.input-symbol.error [class*=' icon-'] {
  color: #ff4400;
}

.input-symbol [class^='icon-'],
.input-symbol [class*=' icon-'] {
  left: 1em;
}

.input-symbol input {
  padding-left: 3em;
}

.input-symbol input {
  width: 100%;
}

.input-symbol input:focus + [class^='icon-'],
.input-symbol input:focus + [class*=' icon-'] {
  color: #2cc5d2;
}

.input-symbol [class^='icon-'],
.input-symbol [class*=' icon-'] {
  transition: all 300ms ease-in;
  transform: translate3d(0, -50%, 0);
  background: transparent;
  color: #aaa;
  font-size: 1em;
  height: 1em;
  position: absolute;
  top: 50%;
  width: 1em;
}

@font-face {
  font-family: 'percolate';
  src: url('./assets/icon/percolate.eot?-5w3um4');
  src:
    url('./assets/icon/percolate.eot?#iefix5w3um4') format('embedded-opentype'),
    url('./assets/icon/percolate.woff?5w3um4') format('woff'),
    url('./assets/icon/percolate.ttf?5w3um4') format('truetype'),
    url('./assets/icon/percolate.svg?5w3um4') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'percolate';

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-star:before {
  content: '\e608';
}

.icon-face-sad:before {
  content: '\e60f';
}

.icon-check:before {
  content: '\e65e';
}

.list-heading {
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  text-transform: uppercase;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 11px;
  padding-left: 15px;
  line-height: 40px;
  background: #f8f8f8;
  color: #aaa;
}

.list-heading .icon-sync {
  opacity: 1;
  animation: spin 2s infinite linear;
  display: inline-block;
  margin-right: 4px;
}

.list-item {
  border-radius: 0.5rem;
  font-size: 14px;
  line-height: 20px;
  display: flex !important;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;
  background: white;
  transition: all ease-out 150ms;
}

.list-item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.list-item input[type='text'] {
  background: transparent;
  width: 100%;
  line-height: 3.5;
  border: 0;
  font-size: 14px;
}

.list-item input[type='text']:focus {
  cursor: text;
  border: 0;
}

.pin-button {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  text-align: center;
  transition: all 200ms ease-in;
  color: #eee;
  font-size: 16px;
  line-height: 3rem;
  outline: none;
}

.pin-button:hover {
  color: #2cc5d2;
}
.pin-button:focus {
  outline-color: transparent;
}

.pin-button:active {
  color: #555;
}

/* 这里有两个不同状态的下的子元素的样式,分别对应 最后一个图标和第二个文本 */
.list-item.TASK_PINNED .icon-star {
  color: #2cc5d2;
}

.list-item.TASK_ARCHIVED input[type='text'] {
  color: #4a5568;
  /* color: #a0aec0; */
  text-decoration: line-through;
}

.list-item:hover {
  background-image: linear-gradient(to bottom, #e5f9f7 0%, #f0fffd 100%);
}

.list-item:hover .checkbox {
  cursor: pointer;
}

.list-item + .list-item {
  border-top: 1px solid #f0f9fb;
}

.list-item.checked input[type='text'] {
  color: #ccc;
  text-decoration: line-through;
}

.list-item.checked .delete-item {
  display: inline-block;
}

.loading-item {
  height: 3rem;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  line-height: 1rem;
  padding-left: 16px;
}

.loading-item .glow-checkbox,
.loading-item .glow-text span {
  animation: glow 1.5s ease-in-out infinite;
  background: #eee;
  color: transparent;
  cursor: progress;
  display: inline-block;
}

.loading-item .glow-checkbox {
  margin-right: 16px;
  width: 12px;
  height: 12px;
}

.loading-item + .loading-item {
  border-top: 1px solid #f0f9fb;
}

.list-items {
  position: relative;
  background: white;
  min-height: 288px;
  border-radius: 0.5rem;
}

.list-items .select-placeholder {
  border: none;
  width: 48px;
}

.wrapper-message {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  height: auto;
  transform: translate3d(0, -50%, 0);
  text-align: center;
}

.wrapper-message [class^='icon-'],
.wrapper-message [class*=' icon-'] {
  font-size: 48px;
  line-height: 56px;
  color: #2cc5d2;
  display: block;
}

.wrapper-message .title-message {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #4a5568;
}

.wrapper-message .subtitle-message {
  font-size: 14px;
  line-height: 20px;
  color: #4a5568;
}

.page.lists-show {
  min-height: 100vh;
  background: white;
}

.page.lists-show nav {
  background: #d3edf4;
  padding: 1.5rem 1.25rem;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .page.lists-show nav {
    text-align: left;
  }
}

.page.lists-show nav .title-page {
  font-size: 20px;
  line-height: 24px;
  line-height: 2rem;
  cursor: pointer;
  white-space: nowrap;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 800;
  color: #1c3f53;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.task-container {
  display: flex;
  justify-content: center;
  
}

@media screen and ( min-width: 1160px ) {
  .list-items {
    width: 840px;
  }
  
}