.draggable-box {
  width: 100px;
  height: 100px;
  background: rgb(65, 202, 88);
  border-radius: 12px;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  user-select: none;
  position: absolute;
  top: 100px;
  left: 100px;
  cursor: grab;
}